<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Agentes 007 es un Sitio Web que te permite contratar agentes para realizar tus misiones.
    No importa lo que quieras hacer, ni donde, ni cuando, siempre encontraras un agente
    apropiado para tus problemas.
  </p>
  {{#link-to 'contacts' class="button"}}
    Contact us!
  {{/link-to}}
</div>

{{outlet}}
