<div class="container">
	<div class="menu">
	{{#link-to 'index'}}
	<h1 class="left">
	<em>Agentes 007</em>
	</h1>
	{{/link-to}}
	<div class="left links">
	{{#link-to 'aboutUs'}}
	Sobre Nosotros
	{{/link-to}}
	{{#link-to 'contacts'}}
	Contacto
	{{/link-to}}
	</div>
	</div>
	<div class="body">
	{{outlet}}
	</div>
</div>